<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerIp" value="172.17.5.5" />
    <add key="StorageServerIp" value="172.17.5.5"/>
    <add key="StorageServerPort" value="2019" />
  </appSettings>
</configuration>