
MonsterGame/Server/obj/Debug/build.force
MonsterGame/UI/obj/Debug/build.force
MonsterGame/StorageServer/bin/Debug/Business.dll
MonsterGame/StorageServer/bin/Debug/Business.pdb
MonsterGame/StorageServer/bin/Debug/Entities.cs.dll
MonsterGame/StorageServer/bin/Debug/Entities.cs.pdb
MonsterGame/StorageServer/bin/Debug/Persistence.dll
MonsterGame/StorageServer/bin/Debug/Persistence.pdb
MonsterGame/StorageServer/bin/Debug/StorageServer.exe
MonsterGame/StorageServer/bin/Debug/StorageServer.exe.config
MonsterGame/StorageServer/bin/Debug/StorageServer.pdb
MonsterGame/StorageServer/bin/Debug/StorageServer.vshost.exe.config
MonsterGame/StorageServer/bin/Debug/StorageServer.vshost.exe.manifest
MonsterGame/StorageServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MonsterGame/StorageServer/obj/Debug/StorageServer.csprojResolveAssemblyReference.cache
MonsterGame/StorageServer/obj/Debug/StorageServer.exe
MonsterGame/StorageServer/obj/Debug/StorageServer.pdb
MonsterGame/StorageServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MonsterGame/StorageServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MonsterGame/StorageServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

MonsterGame/GameClient/bin/Debug/UI.pdb
MonsterGame/Client/bin/Debug/Client.vshost.exe.manifest
MonsterGame/Client/bin/Debug/Client.vshost.exe.manifest
MonsterGame/Client/obj/Debug/GameClient.csproj.FileListAbsolute.txt
MonsterGame/Client/obj/Debug/GameClient.csproj.FileListAbsolute.txt
MonsterGame/GameClient/bin/Debug/Client.exe
MonsterGame/GameClient/bin/Debug/UI.dll
MonsterGame/GameClient/bin/Debug/Protocol.pdb
MonsterGame/GameClient/bin/Debug/Protocol.dll
MonsterGame/GameClient/bin/Debug/Entities.cs.pdb
MonsterGame/GameClient/bin/Debug/Entities.cs.dll
MonsterGame/GameClient/bin/Debug/Client.vshost.exe.manifest
MonsterGame/GameClient/bin/Debug/Client.vshost.exe.config
MonsterGame/GameClient/bin/Debug/Client.vshost.exe
MonsterGame/GameClient/bin/Debug/Client.pdb
MonsterGame/GameClient/bin/Debug/Client.exe.config
MonsterGame/GameClient/obj/Debug/Client.exe
MonsterGame/GameClient/obj/Debug/Client.pdb
MonsterGame/GameClient/obj/Debug/GameClient.csproj.FileListAbsolute.txt
MonsterGame/GameClient/obj/Debug/GameClient.csprojResolveAssemblyReference.cache
MonsterGame/GameClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MonsterGame/GameClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MonsterGame/GameClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MonsterGame/GameClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MonsterGame/GameServer/bin/Debug/Business.dll
MonsterGame/GameServer/bin/Debug/Business.pdb
MonsterGame/GameServer/bin/Debug/Entities.cs.dll
MonsterGame/GameServer/bin/Debug/Entities.cs.pdb
MonsterGame/GameServer/bin/Debug/Persistence.dll
MonsterGame/GameServer/bin/Debug/Persistence.pdb
MonsterGame/GameServer/bin/Debug/Protocol.dll
MonsterGame/GameServer/bin/Debug/Protocol.pdb
MonsterGame/GameServer/bin/Debug/Server.exe
MonsterGame/GameServer/bin/Debug/Server.exe.config
MonsterGame/GameServer/bin/Debug/Server.pdb
MonsterGame/GameServer/bin/Debug/Server.vshost.exe
MonsterGame/GameServer/bin/Debug/Server.vshost.exe.config
MonsterGame/GameServer/bin/Debug/Server.vshost.exe.manifest
MonsterGame/GameServer/bin/Debug/UI.dll
MonsterGame/GameServer/bin/Debug/UI.pdb
MonsterGame/GameServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MonsterGame/GameServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MonsterGame/GameServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MonsterGame/GameServer/obj/Debug/Server.pdb
MonsterGame/GameServer/obj/Debug/Server.exe
MonsterGame/GameServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MonsterGame/GameServer/obj/Debug/GameServer.csproj.FileListAbsolute.txt
MonsterGame/GameServer/obj/Debug/GameServer.csprojResolveAssemblyReference.cache
MonsterGame/Persistence/bin/Debug/Business.dll
MonsterGame/Persistence/bin/Debug/Business.pdb
MonsterGame/Persistence/obj/Debug/build.force
MonsterGame/Persistence/bin/Debug/Business.dll
MonsterGame/Persistence/bin/Debug/Business.pdb
MonsterGame/Persistence/obj/Debug/build.force
MonsterGame/Persistence/bin/Debug/Business.dll
MonsterGame/Persistence/bin/Debug/Business.pdb
MonsterGame/Persistence/bin/Debug/Business.pdb
MonsterGame/Persistence/bin/Debug/Business.dll
MonsterGame/Persistence/bin/Debug/Business.pdb
MonsterGame/Persistence/bin/Debug/Business.dll
MonsterGame/Server/bin/Debug/Server.vshost.exe.manifest
MonsterGame/Server/obj/Debug/GameServer.csproj.FileListAbsolute.txt
MonsterGame/Server/obj/Debug/GameServer.csproj.FileListAbsolute.txt
MonsterGame/Server/obj/Debug/GameServer.csproj.FileListAbsolute.txt
MonsterGame/StorageServer/bin/Debug/Business.dll
MonsterGame/StorageServer/bin/Debug/Business.pdb
MonsterGame/StorageServer/bin/Debug/Entities.cs.dll
MonsterGame/StorageServer/bin/Debug/Entities.cs.pdb
MonsterGame/StorageServer/bin/Debug/Persistence.dll
MonsterGame/StorageServer/bin/Debug/Persistence.pdb
MonsterGame/StorageServer/bin/Debug/StorageServer.exe
MonsterGame/StorageServer/bin/Debug/StorageServer.pdb
MonsterGame/StorageServer/bin/Debug/Business.dll
MonsterGame/StorageServer/bin/Debug/Business.pdb
MonsterGame/LogServer/bin/Debug/Business.dll
MonsterGame/LogServer/bin/Debug/Business.pdb
MonsterGame/LogServer/bin/Debug/Entities.cs.dll
MonsterGame/LogServer/bin/Debug/Entities.cs.pdb
MonsterGame/LogServer/bin/Debug/LogServer.exe
MonsterGame/LogServer/bin/Debug/LogServer.exe.config
MonsterGame/LogServer/bin/Debug/LogServer.pdb
MonsterGame/LogServer/bin/Debug/LogServer.vshost.exe
MonsterGame/LogServer/bin/Debug/LogServer.vshost.exe.config
MonsterGame/LogServer/bin/Debug/LogServer.vshost.exe.manifest
MonsterGame/LogServer/bin/Debug/Persistence.dll
MonsterGame/LogServer/bin/Debug/Persistence.pdb
MonsterGame/LogServer/obj/Debug/LogServer.csproj.FileListAbsolute.txt
MonsterGame/LogServer/obj/Debug/LogServer.csprojResolveAssemblyReference.cache
MonsterGame/LogServer/obj/Debug/LogServer.exe
MonsterGame/LogServer/obj/Debug/LogServer.pdb
MonsterGame/Persistence/bin/Debug/Business.dll
MonsterGame/Persistence/bin/Debug/Business.pdb
MonsterGame/Persistence/obj/Debug/build.force
MonsterGame/StorageServer/bin/Debug/Business.dll
MonsterGame/StorageServer/bin/Debug/Business.pdb
MonsterGame/StorageServer/bin/Debug/Entities.cs.dll
MonsterGame/StorageServer/bin/Debug/Entities.cs.pdb
MonsterGame/StorageServer/bin/Debug/Persistence.dll
MonsterGame/StorageServer/bin/Debug/Persistence.pdb
MonsterGame/StorageServer/bin/Debug/StorageServer.exe
MonsterGame/StorageServer/bin/Debug/StorageServer.pdb
MonsterGame/StorageServer/obj/Debug/StorageServer.csprojResolveAssemblyReference.cache
MonsterGame/StorageServer/obj/Debug/StorageServer.exe
MonsterGame/StorageServer/obj/Debug/StorageServer.pdb
MonsterGame/ClientCRUD/bin/Debug/Business.dll
MonsterGame/ClientCRUD/bin/Debug/Business.pdb
MonsterGame/ClientCRUD/bin/Debug/ClientCRUD.exe
MonsterGame/ClientCRUD/bin/Debug/ClientCRUD.exe.config
MonsterGame/ClientCRUD/bin/Debug/ClientCRUD.pdb
MonsterGame/ClientCRUD/bin/Debug/ClientCRUD.vshost.exe.config
MonsterGame/ClientCRUD/bin/Debug/ClientCRUD.vshost.exe.manifest
MonsterGame/ClientCRUD/bin/Debug/Entities.cs.dll
MonsterGame/ClientCRUD/bin/Debug/Entities.cs.pdb
MonsterGame/ClientCRUD/bin/Debug/UI.dll
MonsterGame/ClientCRUD/bin/Debug/UI.pdb
MonsterGame/ClientCRUD/bin/Debug/WebServices.dll
MonsterGame/ClientCRUD/bin/Debug/WebServices.pdb
MonsterGame/ClientCRUD/obj/Debug/build.force
MonsterGame/ClientCRUD/obj/Debug/ClientCRUD.exe
MonsterGame/ClientCRUD/obj/Debug/ClientCRUD.pdb
MonsterGame/ClientCRUD/obj/Debug/CRUDClient.csprojResolveAssemblyReference.cache
MonsterGame/ClientCRUD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MonsterGame/ClientCRUD/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MonsterGame/ClientCRUD/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MonsterGame/ClientCRUD/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MonsterGame/Persistence/bin/Debug/Business.dll
MonsterGame/Persistence/bin/Debug/Business.pdb
MonsterGame/Persistence/obj/Debug/build.force
MonsterGame/ServerCRUD/bin/Debug/Business.dll
MonsterGame/ServerCRUD/bin/Debug/Business.pdb
MonsterGame/ServerCRUD/bin/Debug/Entities.cs.dll
MonsterGame/ServerCRUD/bin/Debug/Entities.cs.pdb
MonsterGame/ServerCRUD/bin/Debug/Persistence.dll
MonsterGame/ServerCRUD/bin/Debug/Persistence.pdb
MonsterGame/ServerCRUD/bin/Debug/ServerCRUD.exe
MonsterGame/ServerCRUD/bin/Debug/ServerCRUD.exe.config
MonsterGame/ServerCRUD/bin/Debug/ServerCRUD.pdb
MonsterGame/ServerCRUD/bin/Debug/ServerCRUD.vshost.exe.config
MonsterGame/ServerCRUD/bin/Debug/ServerCRUD.vshost.exe.manifest
MonsterGame/ServerCRUD/bin/Debug/WebServices.dll
MonsterGame/ServerCRUD/bin/Debug/WebServices.pdb
MonsterGame/ServerCRUD/obj/Debug/build.force
MonsterGame/ServerCRUD/obj/Debug/CRUDServer.csprojResolveAssemblyReference.cache
MonsterGame/ServerCRUD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MonsterGame/ServerCRUD/obj/Debug/ServerCRUD.exe
MonsterGame/ServerCRUD/obj/Debug/ServerCRUD.pdb
MonsterGame/ServerCRUD/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MonsterGame/ServerCRUD/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MonsterGame/ServerCRUD/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MonsterGame/StorageServer/bin/Debug/Business.dll
MonsterGame/StorageServer/bin/Debug/Business.pdb
MonsterGame/StorageServer/bin/Debug/Entities.cs.dll
MonsterGame/StorageServer/bin/Debug/Entities.cs.pdb
MonsterGame/StorageServer/bin/Debug/Persistence.dll
MonsterGame/StorageServer/bin/Debug/Persistence.pdb
MonsterGame/StorageServer/bin/Debug/StorageServer.exe
MonsterGame/StorageServer/bin/Debug/StorageServer.pdb
MonsterGame/StorageServer/obj/Debug/StorageServer.csprojResolveAssemblyReference.cache
MonsterGame/StorageServer/obj/Debug/StorageServer.exe
MonsterGame/StorageServer/obj/Debug/StorageServer.pdb
MonsterGame/WebServices/bin/Debug/Business.dll
MonsterGame/WebServices/bin/Debug/Business.pdb
MonsterGame/WebServices/bin/Debug/Entities.cs.dll
MonsterGame/WebServices/bin/Debug/Entities.cs.pdb
MonsterGame/WebServices/bin/Debug/WebServices.dll
MonsterGame/WebServices/bin/Debug/WebServices.dll.config
MonsterGame/WebServices/bin/Debug/WebServices.pdb
MonsterGame/WebServices/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MonsterGame/WebServices/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MonsterGame/WebServices/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MonsterGame/WebServices/obj/Debug/WebServices.csprojResolveAssemblyReference.cache
MonsterGame/WebServices/obj/Debug/WebServices.dll
MonsterGame/WebServices/obj/Debug/WebServices.pdb
MonsterGame/ClientCRUD/bin/Debug/Business.dll
MonsterGame/ClientCRUD/bin/Debug/Business.pdb
MonsterGame/ClientCRUD/bin/Debug/ClientCRUD.exe
MonsterGame/ClientCRUD/bin/Debug/ClientCRUD.pdb
MonsterGame/ClientCRUD/bin/Debug/Entities.cs.dll
MonsterGame/ClientCRUD/bin/Debug/Entities.cs.pdb
MonsterGame/ClientCRUD/bin/Debug/UI.dll
MonsterGame/ClientCRUD/bin/Debug/UI.pdb
MonsterGame/ClientCRUD/bin/Debug/WebServices.dll
MonsterGame/ClientCRUD/bin/Debug/WebServices.pdb
MonsterGame/ClientCRUD/obj/Debug/build.force
MonsterGame/ClientCRUD/obj/Debug/ClientCRUD.exe
MonsterGame/ClientCRUD/obj/Debug/ClientCRUD.pdb
MonsterGame/ClientCRUD/obj/Debug/CRUDClient.csprojResolveAssemblyReference.cache
MonsterGame/ClientCRUD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MonsterGame/Persistence/bin/Debug/Business.dll
MonsterGame/Persistence/bin/Debug/Business.pdb
MonsterGame/Persistence/obj/Debug/build.force
MonsterGame/ServerCRUD/bin/Debug/Business.dll
MonsterGame/ServerCRUD/bin/Debug/Business.pdb
MonsterGame/ServerCRUD/bin/Debug/Entities.cs.dll
MonsterGame/ServerCRUD/bin/Debug/Entities.cs.pdb
MonsterGame/ServerCRUD/bin/Debug/Persistence.dll
MonsterGame/ServerCRUD/bin/Debug/Persistence.pdb
MonsterGame/ServerCRUD/bin/Debug/ServerCRUD.exe
MonsterGame/ServerCRUD/bin/Debug/ServerCRUD.pdb
MonsterGame/ServerCRUD/bin/Debug/WebServices.dll
MonsterGame/ServerCRUD/bin/Debug/WebServices.pdb
MonsterGame/ServerCRUD/obj/Debug/build.force
MonsterGame/ServerCRUD/obj/Debug/CRUDServer.csprojResolveAssemblyReference.cache
MonsterGame/ServerCRUD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MonsterGame/ServerCRUD/obj/Debug/ServerCRUD.exe
MonsterGame/ServerCRUD/obj/Debug/ServerCRUD.pdb
MonsterGame/StorageServer/bin/Debug/Business.dll
MonsterGame/StorageServer/bin/Debug/Business.pdb
MonsterGame/StorageServer/bin/Debug/Entities.cs.dll
MonsterGame/StorageServer/bin/Debug/Entities.cs.pdb
MonsterGame/StorageServer/bin/Debug/Persistence.dll
MonsterGame/StorageServer/bin/Debug/Persistence.pdb
MonsterGame/StorageServer/bin/Debug/StorageServer.exe
MonsterGame/StorageServer/bin/Debug/StorageServer.pdb
MonsterGame/StorageServer/obj/Debug/StorageServer.csprojResolveAssemblyReference.cache
MonsterGame/StorageServer/obj/Debug/StorageServer.exe
MonsterGame/StorageServer/obj/Debug/StorageServer.pdb
MonsterGame/WebServices/bin/Debug/Business.dll
MonsterGame/WebServices/bin/Debug/Business.pdb
MonsterGame/WebServices/bin/Debug/Entities.cs.dll
MonsterGame/WebServices/bin/Debug/Entities.cs.pdb
MonsterGame/WebServices/bin/Debug/WebServices.dll
MonsterGame/WebServices/bin/Debug/WebServices.pdb
MonsterGame/WebServices/obj/Debug/WebServices.csprojResolveAssemblyReference.cache
MonsterGame/ServerCRUD/bin/Debug/ServerCRUD.exe
MonsterGame/ServerCRUD/obj/Debug/ServerCRUD.pdb
MonsterGame/ServerCRUD/obj/Debug/ServerCRUD.exe
MonsterGame/ServerCRUD/obj/Debug/CRUDServer.csprojResolveAssemblyReference.cache
MonsterGame/ServerCRUD/bin/Debug/ServerCRUD.exe
MonsterGame/ServerCRUD/bin/Debug/Persistence.pdb
MonsterGame/ServerCRUD/bin/Debug/Persistence.dll
MonsterGame/ServerCRUD/bin/Debug/Entities.cs.pdb
MonsterGame/ServerCRUD/bin/Debug/Entities.cs.dll
MonsterGame/ServerCRUD/bin/Debug/Business.pdb
MonsterGame/ServerCRUD/bin/Debug/Business.dll
MonsterGame/Persistence/obj/Debug/build.force
MonsterGame/Persistence/bin/Debug/Business.pdb
MonsterGame/Persistence/bin/Debug/Business.dll
MonsterGame/ClientCRUD/obj/Debug/CRUDClient.csprojResolveAssemblyReference.cache
MonsterGame/ClientCRUD/obj/Debug/ClientCRUD.pdb
MonsterGame/ClientCRUD/obj/Debug/ClientCRUD.exe
MonsterGame/ClientCRUD/obj/Debug/build.force
MonsterGame/ClientCRUD/bin/Debug/UI.pdb
MonsterGame/ClientCRUD/bin/Debug/UI.dll
MonsterGame/ClientCRUD/bin/Debug/Entities.cs.pdb
MonsterGame/ClientCRUD/bin/Debug/Entities.cs.dll
MonsterGame/ClientCRUD/bin/Debug/ClientCRUD.pdb
MonsterGame/ClientCRUD/bin/Debug/ClientCRUD.exe
MonsterGame/ClientCRUD/bin/Debug/Business.pdb
MonsterGame/ClientCRUD/bin/Debug/Business.dll
