
Entities/bin/Debug/netstandard2.0/Entities.deps.json
Entities/bin/Debug/netstandard2.0/Entities.dll
Entities/obj/Debug/netstandard2.0/Entities.AssemblyInfo.cs
Entities/bin/Debug/netstandard2.0/Entities.pdb
Entities/obj/Debug/netstandard2.0/Entities.AssemblyInfoInputs.cache
Entities/obj/Debug/netstandard2.0/Entities.assets.cache
Entities/obj/Debug/netstandard2.0/Entities.csproj.CoreCompileInputs.cache
Entities/obj/Debug/netstandard2.0/Entities.csproj.FileListAbsolute.txt
Entities/obj/Debug/netstandard2.0/Entities.csprojAssemblyReference.cache
Entities/obj/Debug/netstandard2.0/Entities.dll
Entities/obj/Debug/netstandard2.0/Entities.pdb
Entities/obj/Entities.csproj.nuget.cache
Entities/obj/Entities.csproj.nuget.g.props
Entities/obj/Entities.csproj.nuget.g.targets
Entities/obj/project.assets.json
BusinessLogic/obj/BusinessLogic.csproj.nuget.cache
BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
BusinessLogic/obj/BusinessLogic.csproj.nuget.g.targets
BusinessLogic/obj/project.assets.json
UI/obj/project.assets.json
UI/obj/UI.csproj.nuget.cache
UI/obj/UI.csproj.nuget.g.props
UI/obj/UI.csproj.nuget.g.targets
BusinessLogic/bin/Debug/netstandard2.0/BusinessLogic.deps.json
BusinessLogic/bin/Debug/netstandard2.0/BusinessLogic.dll
BusinessLogic/bin/Debug/netstandard2.0/BusinessLogic.pdb
BusinessLogic/bin/Debug/netstandard2.0/Entities.dll
BusinessLogic/bin/Debug/netstandard2.0/Entities.pdb
BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.AssemblyInfo.cs
BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.AssemblyInfoInputs.cache
BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.assets.cache
BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.csproj.CopyComplete
BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.csproj.CoreCompileInputs.cache
BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.csproj.FileListAbsolute.txt
BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.csprojAssemblyReference.cache
BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.dll
BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.pdb
Prueba/bin/Debug/netcoreapp2.1/BusinessLogic.dll
Prueba/bin/Debug/netcoreapp2.1/BusinessLogic.pdb
Prueba/bin/Debug/netcoreapp2.1/Entities.dll
Prueba/bin/Debug/netcoreapp2.1/Entities.pdb
Prueba/bin/Debug/netcoreapp2.1/Prueba.deps.json
Prueba/bin/Debug/netcoreapp2.1/Prueba.dll
Prueba/bin/Debug/netcoreapp2.1/Prueba.pdb
Prueba/bin/Debug/netcoreapp2.1/Prueba.runtimeconfig.dev.json
Prueba/bin/Debug/netcoreapp2.1/Prueba.runtimeconfig.json
Prueba/bin/Debug/netcoreapp2.1/UI.dll
Prueba/bin/Debug/netcoreapp2.1/UI.pdb
Prueba/obj/Debug/netcoreapp2.1/Prueba.AssemblyInfo.cs
Prueba/obj/Debug/netcoreapp2.1/Prueba.AssemblyInfoInputs.cache
Prueba/obj/Debug/netcoreapp2.1/Prueba.assets.cache
Prueba/obj/Debug/netcoreapp2.1/Prueba.csproj.CopyComplete
Prueba/obj/Debug/netcoreapp2.1/Prueba.csproj.CoreCompileInputs.cache
Prueba/obj/Debug/netcoreapp2.1/Prueba.csproj.FileListAbsolute.txt
Prueba/obj/Debug/netcoreapp2.1/Prueba.csprojAssemblyReference.cache
Prueba/obj/Debug/netcoreapp2.1/Prueba.dll
Prueba/obj/Debug/netcoreapp2.1/Prueba.pdb
Prueba/obj/project.assets.json
Prueba/obj/Prueba.csproj.nuget.cache
Prueba/obj/Prueba.csproj.nuget.g.props
Prueba/obj/Prueba.csproj.nuget.g.targets
UI/bin/Debug/netstandard2.0/Entities.dll
UI/bin/Debug/netstandard2.0/Entities.pdb
UI/bin/Debug/netstandard2.0/UI.deps.json
UI/bin/Debug/netstandard2.0/UI.dll
UI/bin/Debug/netstandard2.0/UI.pdb
UI/obj/Debug/netstandard2.0/UI.AssemblyInfo.cs
UI/obj/Debug/netstandard2.0/UI.AssemblyInfoInputs.cache
UI/obj/Debug/netstandard2.0/UI.assets.cache
UI/obj/Debug/netstandard2.0/UI.csproj.CopyComplete
UI/obj/Debug/netstandard2.0/UI.csproj.CoreCompileInputs.cache
UI/obj/Debug/netstandard2.0/UI.csproj.FileListAbsolute.txt
UI/obj/Debug/netstandard2.0/UI.csprojAssemblyReference.cache
UI/obj/Debug/netstandard2.0/UI.dll
UI/obj/Debug/netstandard2.0/UI.pdb
.vscode/tasks.json
Protocol/obj/Debug/netstandard2.0/Protocol.AssemblyInfo.cs
Protocol/obj/Debug/netstandard2.0/Protocol.AssemblyInfoInputs.cache
Protocol/obj/Debug/netstandard2.0/Protocol.assets.cache
Protocol/obj/Debug/netstandard2.0/Protocol.csproj.CoreCompileInputs.cache
Protocol/obj/Debug/netstandard2.0/Protocol.csproj.FileListAbsolute.txt
Protocol/obj/Debug/netstandard2.0/Protocol.csprojAssemblyReference.cache
Protocol/obj/project.assets.json
Protocol/obj/Protocol.csproj.nuget.cache
Protocol/obj/Protocol.csproj.nuget.g.props
Server/obj/Debug/netcoreapp2.1/Server.AssemblyInfo.cs
Server/obj/Debug/netcoreapp2.1/Server.AssemblyInfoInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.assets.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.1/Server.csprojAssemblyReference.cache
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
Protocol/obj/project.assets.json
Protocol/obj/Protocol.csproj.nuget.cache
Protocol/obj/Protocol.csproj.nuget.g.props
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
Protocol/obj/Protocol.csproj.nuget.g.props
Protocol/obj/project.assets.json
Protocol/obj/Protocol.csproj.nuget.cache
Protocol/obj/Protocol.csproj.nuget.g.props
Protocol/obj/Protocol.csproj.nuget.g.targets
Protocol/obj/project.assets.json
Protocol/obj/Protocol.csproj.nuget.cache
Protocol/obj/Protocol.csproj.nuget.g.props
Protocol/obj/Protocol.csproj.nuget.g.targets
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
Server/obj/Server.csproj.nuget.g.targets
Client/obj/Debug/Client.csproj.FileListAbsolute.txt
Client/obj/Debug/Client.csprojResolveAssemblyReference.cache
Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Entities.cs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Entities.cs/obj/Debug/Entities.csproj.FileListAbsolute.txt
Entities.cs/obj/Debug/Entities.csprojResolveAssemblyReference.cache
Entities.cs/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Entities.cs/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Entities.cs/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Persistence/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Persistence/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Persistence/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Persistence/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Protocol/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Protocol/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Protocol/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Protocol/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Server/obj/Debug/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/Server.csprojResolveAssemblyReference.cache
Server/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Server/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Server/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UI/bin/Debug/UI.dll
UI/bin/Debug/UI.pdb
UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UI/obj/Debug/UI.csproj.FileListAbsolute.txt
UI/obj/Debug/UI.csproj.GenerateResource.Cache
UI/obj/Debug/UI.csprojResolveAssemblyReference.cache
UI/obj/Debug/UI.dll
Server/obj/Debug/Server.csproj.CoreCompileInputs.cache
Protocol/obj/Debug/Protocol.csproj.CoreCompileInputs.cache
Persistence/obj/Debug/Persistence.csproj.CoreCompileInputs.cache
Entities.cs/obj/Debug/Entities.csproj.CoreCompileInputs.cache
Business/obj/Debug/Business.csproj.CoreCompileInputs.cache
Business/obj/Debug/Business.csprojAssemblyReference.cache
Client/obj/Debug/Client.csproj.CoreCompileInputs.cache
Client/obj/Debug/Client.csprojAssemblyReference.cache
UI/obj/Debug/UI.csproj.CoreCompileInputs.cache
Business/bin/Debug/Business.dll
Business/bin/Debug/Business.pdb
Business/bin/Debug/Entities.cs.dll
Business/bin/Debug/Entities.cs.pdb
Business/bin/Debug/Persistence.dll
Business/bin/Debug/Persistence.pdb
Business/bin/Debug/UI.dll
Business/bin/Debug/UI.pdb
Business/obj/Debug/Business.csproj.FileListAbsolute.txt
Business/obj/Debug/Business.csprojResolveAssemblyReference.cache
Business/obj/Debug/Business.dll
Business/obj/Debug/Business.pdb
Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/bin/Debug/Business.dll
Client/bin/Debug/Business.pdb
Client/bin/Debug/Client.exe
Client/bin/Debug/Client.pdb
Client/bin/Debug/Client.vshost.exe
Client/bin/Debug/Entities.cs.dll
Client/bin/Debug/Entities.cs.pdb
Client/bin/Debug/Persistence.dll
Client/bin/Debug/Persistence.pdb
Client/bin/Debug/Protocol.dll
Client/bin/Debug/Protocol.pdb
Client/bin/Debug/UI.dll
Client/bin/Debug/UI.pdb
Business/obj/Debug/Business.csproj.FileListAbsolute.txt
Business/obj/Debug/Business.csproj.FileListAbsolute.txt
Client/obj/Debug/Client.exe
Client/obj/Debug/Client.pdb
Entities.cs/bin/Debug/Entities.cs.dll
Entities.cs/bin/Debug/Entities.cs.pdb
Entities.cs/obj/Debug/Entities.cs.dll
Entities.cs/obj/Debug/Entities.cs.pdb
Persistence/bin/Debug/Entities.cs.dll
Persistence/bin/Debug/Entities.cs.pdb
Persistence/bin/Debug/Persistence.dll
Persistence/bin/Debug/Persistence.pdb
Persistence/obj/Debug/Persistence.csproj.FileListAbsolute.txt
Persistence/obj/Debug/Persistence.csprojResolveAssemblyReference.cache
Persistence/obj/Debug/Persistence.dll
Persistence/obj/Debug/Persistence.pdb
Protocol/bin/Debug/Business.dll
Protocol/bin/Debug/Business.pdb
Protocol/bin/Debug/Entities.cs.dll
Protocol/bin/Debug/Entities.cs.pdb
Protocol/bin/Debug/Persistence.dll
Protocol/bin/Debug/Persistence.pdb
Protocol/bin/Debug/Protocol.dll
Protocol/bin/Debug/Protocol.pdb
Protocol/obj/Debug/Protocol.csproj.FileListAbsolute.txt
Protocol/obj/Debug/Protocol.csprojResolveAssemblyReference.cache
Protocol/obj/Debug/Protocol.dll
Protocol/obj/Debug/Protocol.pdb
Server/bin/Debug/Business.dll
Server/bin/Debug/Business.pdb
Server/bin/Debug/Entities.cs.dll
Server/bin/Debug/Entities.cs.pdb
Server/bin/Debug/Persistence.dll
Server/bin/Debug/Persistence.pdb
Server/bin/Debug/Protocol.dll
Server/bin/Debug/Protocol.pdb
Server/bin/Debug/Server.exe
Server/bin/Debug/Server.pdb
Server/bin/Debug/Server.vshost.exe
Server/bin/Debug/UI.dll
Server/bin/Debug/UI.pdb
Server/obj/Debug/Server.exe
Server/obj/Debug/Server.pdb
UI/bin/Debug/Entities.cs.dll
UI/bin/Debug/Entities.cs.pdb
UI/obj/Debug/UI.pdb
Business/obj/Debug/Business.csproj.FileListAbsolute.txt
Persistence/obj/Debug/Persistence.csproj.FileListAbsolute.txt
Protocol/obj/Debug/Protocol.csproj.FileListAbsolute.txt
UI/obj/Debug/UI.pdb
Business/obj/Debug/Business.csproj.FileListAbsolute.txt
Business/obj/Debug/Business.csproj.FileListAbsolute.txt
Persistence/obj/Debug/Persistence.csproj.FileListAbsolute.txt
Protocol/obj/Debug/Protocol.csproj.FileListAbsolute.txt
UI/obj/Debug/UI.pdb
.vs/MonsterGame/v14/.suo
.vs/MonsterGame/v14/.suo
.vs/MonsterGame/v14/.suo
.vs/MonsterGame/v14/.suo
Client/App.config
Client/bin/Debug/Client.exe.config
Client/bin/Debug/Client.vshost.exe.config
Server/App.config
Server/bin/Debug/Server.exe.config
Server/bin/Debug/Server.vshost.exe.config
UI/obj/Debug/UI.pdb
Client/App.config
Client/bin/Debug/Client.exe.config
Client/bin/Debug/Client.vshost.exe.config
Server/App.config
Server/bin/Debug/Server.exe.config
Server/bin/Debug/Server.vshost.exe.config
UI/obj/Debug/UI.pdb
