<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_ICRUDClientService" />
            <binding name="BasicHttpBinding_ICRUDClientService1" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://localhost:2020/WebServices/CRUDClientService/"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRUDClientService"
            contract="WebServices.ICRUDClientService" name="BasicHttpBinding_ICRUDClientService" />
        <endpoint address="http://localhost:2020/WebServices/CRUDClientService/"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRUDClientService1"
            contract="ServiceReference1.ICRUDClientService" name="BasicHttpBinding_ICRUDClientService1" />
    </client>
  </system.serviceModel>
</configuration>